/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* Import Tailwind */
@import "tailwindcss";

/* Define Custom Fonts */
@theme {
  --font-heading: "Chakra Petch", ui-sans-serif, system-ui, sans-serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-secondary: "Science Gothic", ui-sans-serif, system-ui, sans-serif;
  --font-button: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
}

/* Import Custom Styles */
@import "./styles/base.css";
@import "./styles/themes.css";
@import "./styles/typography.css";
@import "./styles/components.css";
@import "./styles/utilities.css";